@{
    ViewData["Title"] = "Home Page";
}

@if (!string.IsNullOrEmpty(ViewData["user"] as string))
{
    <div class="text-center mt-5">
        <form action="/home/logout" method="post">
            <span>Welcome, @ViewData["user"]</span> <button type="submit" class="btn btn-info btn-sm ml-2">Logout</button>
        </form>
    </div>
}
else
{
    <div class="text-center mt-5">
        <h4>Welcome, Welcome Institute of Studies (WIS)</h4>
    </div>
}


<h2>Class List</h2>

<table>
    <tr>
        <th>Class ID</th>
        <th>Name</th>
        <th>Term</th>
    </tr>
    <tr>
        <td>SOFT-703</td>
        <td>Web Application</td>
        <td>12 weeks</td>
    </tr>
    <tr>
        <td>SOFT-708</td>
        <td>Mobile Application</td>
        <td>12 weeks</td>
    </tr>
    <tr>
        <td>SOFT-806</td>
        <td>CI / CD</td>
        <td>12 weeks</td>
    </tr>
    <tr>
        <td>SOFT-807</td>
        <td>Cloud Application</td>
        <td>12 weeks</td>
    </tr>
    <tr>
        <td>SOFT-807</td>
        <td>Cloud Application</td>
        <td>12 weeks</td>
    </tr>
    <tr>
        <td>SOFT-808</td>
        <td>UI/UX</td>
        <td>12 weeks</td>
    </tr>
</table>
