@{
    ViewData["Title"] = "Home Page";
}

@if (!string.IsNullOrEmpty((string?) ViewData["user"]))
{
    <div class="text-center mt-5">
        <form action="/home/logout" method="post">
            <span>Welcome, @ViewData["user"]</span> <button type="submit" class="btn btn-info btn-sm ml-2">Logout</button>
        </form>
    </div>
}
else
{
    <div class="text-center mt-5">
        <h4>Welcome, Welcome Institute of Studies (WIS)</h4>
    </div>
}
